{"filter":false,"title":"phpunit.xml.dist","tooltip":"/phpunit.xml.dist","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":209,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":13,"state":"start","mode":"ace/mode/xml"}},"timestamp":1508894625420,"hash":"21943310e353f9ebbffe471729f2512d2c6e2dbb"}